<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  	<%= f.input :image, label: "Upload an image" %>
    <%= f.input :description, placeholder: 'What did you eat? How was the foodexperience? In which restaurant/location?', as: :text, input_html: { rows: "3"} %>
    <%= f.input :City, placeholder: 'Where do you get it?', as: :text, input_html: { rows: "1"} %>
    <%= f.input :Category, :collection => [["pure sweetness", "pure sweetness"], ["hot & spicy", "hot & spicy"], ["local speciality", "local speciality"], ["light & fresh", "light & fresh"], ["exotic", "exotic"], ["absolutely extraordinary", "absolutely extraordinary"]], as: :radio %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
